<header class="header">
  <h1 class="text-dark m-0">Password List</h1>
</header>
<div class="table-responsive">
  <table class="table table-bordered table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th>Serial No.</th>
        <th (click)="sortData('category')">Category</th>
        <th>App</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let password of passwords; let i = index">
        <!-- Serial number -->
        <td>{{ i + 1 }}</td>
        <!-- ID (hidden) -->
        <td class="d-none">{{ password.id }}</td>
        <td>{{ password.category }}</td>
        <td>{{ password.app }}</td>
        <td>{{ password.userName }}</td>
        <td>{{ decryptMode ? password.decryptedPassword : password.encryptedPassword }}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="navigateToUpdate(password.id!)">
            Update
          </button>
          <button class="btn btn-sm btn-danger" (click)="password.id && deletePassword(password.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
