<header class="header">
    <h1 class="text-dark m-0">View Password</h1>
  </header>
  
  <div class="mb-3">
    <div class="d-flex align-items-stretch" style="max-width: 500px;">
      <input
        type="text"
        class="form-control form-control-sm"
        placeholder="Enter Username"
        [(ngModel)]="username"
      />
      <button
        type="button"
        class="btn btn-outline-secondary btn-sm ms-2"
        style="height: 100%;"
        (click)="getUserDetails()"
      >
        Get Details
      </button>
    </div>
  </div>
  
  <div *ngIf="passwordDetails && passwordDetails.length > 0" class="table-responsive">
    <table class="table table-bordered table-hover align-middle">
      <thead class="table-light">
        <tr>
            <th>Serial No.</th>
            <th>Username</th>
            <th>Category</th>
            <th>App</th>
            <th>Decrypted Password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of passwordDetails; let i = index">
            <td>{{ i + 1 }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.category }}</td>
        <td>{{ user.app }}</td>
        <td>{{ user.decryptedPassword }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  